<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>

<h2>About the dataset</h2>        
        <p> This dataset is from Twitch. It countains information about top streamers of last year. This website shows sample of the whole dataset which one thousand records or observations.<p>

<p> Link: <a href="https://www.kaggle.com/datasets/aayushmishra1512/twitchdata">Kaggle Dataset</a> </p>

<h2>Variables' definition</h2>
<ul>
    <li><strong>Channel</strong> The name of the Twitch channel. </li>
    <li><strong>Watch time</strong> Total time of the viewers have spent on watching. (Integer)</li>
    <li><strong>Stream time</strong> The total time of the content of the streamer. </li>
    <li><strong>Peak viewers:</strong> The peak time at any point of viewing the content. </li>
    <li><strong>Average viewers:</strong> The average number of viewers during the stream. </li>
    <li><strong>Followers:</strong> The number of followers of the channel. </li>
    <li><strong>Followers gained:</strong> I don't know this. </li>
    <li><strong>Views gained:</strong> I don't know this, either. </li>
    <li><strong>Partnered:</strong> Same as above. </li>
    <li><strong>Mature:</strong> I guess it indicate whether the channel is suitable for children (Boolean). </li>
    <li><strong>Language:</strong> The language used in the channel (String). </li>
</ul>
        
       
    </body>
</html>