<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>

<h2>About the dataset</h2>        
        <p> 
This dataset is mainly about top streamers on twitch from past year.  
This data consists of different things like number of viewers, number of active viewers, followers gained and many other relevant columns regarding a particular streamer. It has 11 different columns, 7 of them are integers, 2 of them are strings, and the rest of 2 are Booleans. So, this dataset has 1000 rows and 11 columns, it is suitable for our group project.  
Reference link: https://www.kaggle.com/datasets/aayushmishra1512/twitchdata<p>


<h2>Variables' definition</h2>
<ul>
    <li><strong>Channel</strong> The name of the Twitch channel. </li>
    <li><strong>Watch time</strong> Total time of the viewers have spent on watching. (Integer)</li>
    <li><strong>Stream time</strong> The total time of the content of the streamer. </li>
    <li><strong>Peak viewers:</strong> The peak time at any point of viewing the content. </li>
    <li><strong>Average viewers:</strong> The average number of viewers during the stream. </li>
    <li><strong>Followers:</strong> The number of followers of the channel. </li>
    <li><strong>Followers gained:</strong> The number of followers a streamer has. </li>
    <li><strong>Views gained:</strong> The number of viewed. </li>
    <li><strong>Partnered:</strong> Whether the screamer works with Twitch </li>
    <li><strong>Mature:</strong> Adult or not  (Boolean). </li>
    <li><strong>Language:</strong> The language used in the channel (String). </li>
</ul>
        
       
    </body>
</html>